* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gpd-header{
  margin:0;
}
.gpd-navbar{
  width:100%;
}
#isth{
  padding:0;
}
#i3kin{
  color:#ffffff;
  background-color:#000000;
  min-height:100vh;
}
#il6df{
  color:#ffffff;
}
#i0al1{
  text-align:center;
  color:#ffffff;
  font-family:Helvetica, serif;
}
#is2zk{
  text-decoration:none;
  color:#ffffff;
}
#i2j7{
  text-align:center;
}
#ie6o8{
  color:black;
}
#iraa4{
  background-color:#000000;
  padding:50px 0 140px 0;
}
#i2rgr{
  text-align:center;
  font-size:large;
  font-family:Helvetica, serif;
}
#i395i{
  margin-top:0;
  margin-bottom:15px;
  font-family:Helvetica, serif;
}
#im0re{
  display:inline-block;
  padding:5px;
  min-width:50px;
  min-height:50px;
  color:#000000;
}
#i5rnt{
  margin:0  0 0;
}
#i91sl{
  display:inline-block;
  padding:5px;
  min-width:50px;
  min-height:50px;
}
#io3eq{
  margin:0  0 0;
  color:#000000;
}
#i4fgn{
  display:inline-block;
  padding:5px;
  min-width:50px;
  min-height:50px;
}
#iud9y{
  margin:0  0 0;
  color:#000000;
}
#i7y4o{
  display:inline-block;
  padding:5px;
  min-width:50px;
  min-height:50px;
}
#ibe0m{
  margin:0  0 0;
  color:#000000;
}
#i8bfk{
  display:inline-block;
  padding:5px;
  min-width:50px;
  min-height:50px;
}
#iozha{
  margin:0  0 0;
  color:#000000;
}
#ir4gt{
  color:#ffffff;
  background-color:#000000;
}
#ix2vp{
  text-align:center;
  color:rgba(255,255,255,0.28);
  background-color:#000000;
}
#if1fe{
  font-family:Helvetica, serif;
}
#ixl65{
  font-family:Helvetica, serif;
}
#icp4x{
  text-align:center;
}
#iejwe{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:rgba(255,255,255,0.28);
}
#i3gkf{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:#ffffff;
}
.gpd-navbar{
  width:100%;
}
